@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', sans-serif;
  background-color: rgb(215, 215, 215);
}

.main-container {
  max-width: 1200px;
  min-height: calc(100vh - 80px);
  margin: 40px auto;
  padding: 30px 50px;
  border-radius: 20px;
  background-color: #fff;
}
